# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
.env.*
.venv/
venv/
ENV/
env/
.python-version

# Logs
mcp_client.log
*.log
/conversations/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test & coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/